<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner.jpg');">
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
<div class="padded">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>    </div>
    <div class="col-xs-12 col-sm-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>    </div>
    <div class="col-xs-12 col-sm-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>    </div>
  </div>
  </div>
</div>

<div class="padded">
<div class="section-padded" style="background-color: #DEDEDE;">
  <div class="container text-center">
    <h3>What is Amalize?</h3>
    <p>Discover how Amalize can boost your Amazon business.</p>
    <div class="row features-deskjoy">
      <div class="col-sm-4">
        <div class="services">
          <%= image_tag "search.png" %>
          <h3>Discover your custoner</h3>
          <p>Some sales copy here</p>
        </div> <!-- end .services -->
      </div> <!-- end .col-sm-4 -->
      <div class="col-sm-4">
        <div class="services">
          <%= image_tag "table.png" %>
          <h3>Market your product</h3>
          <p>Blah Blah Blah</p>
        </div> <!-- end .services -->
      </div> <!-- end .col-sm-4 -->
      <div class="col-sm-4">
        <div class="services">
          <%= image_tag "users.png" %>
          <h3>Sell Smart</h3>
          <p>More amazing things about the software</p>
        </div> <!-- end .services -->
      </div> <!-- end .col-sm-4 -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</div> <!-- end .section -->




<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1 section-padded">
      <h3> Why Amalize?</h3>
      <p>
        Our tagline can go here. Call the action sign up now
      </p>
      <br>
      <h4>"Amalize is awesome!"</h4>
      <h5>-John Doe-</h5>
      <h5>Amazon Seller</h5>

    </div>
    <div class="col-xs-12 col-md-5 text-center">
      <%= image_tag "man2.png", height: 395 %>
    </div>
  </div>
</div>

